<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Blue-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Blue-1</string>
				</array>
			</dict>
			<key>AppIcon-Dark-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Dark-1</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hant</string>
	</array>
	<key>BackgroundPresetNames</key>
	<array>
		<string>pikmin</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>使用 Face ID 快速解鎖 App</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要存取您的照片以設定自訂背景圖片</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
